<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scoreboard</title>
    <link rel="stylesheet" href="css/style3.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="logo"></div>
      <div class="title">QUIZZTER</div>
      <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
      </ul>
    </nav>
    <div class="wrapper-wrapper">
      <div class="wrapper1">
        <form class="score-form" action="/scoreboard" method="post">
          <div>
            <p>Well done <%= user.name %>!</p>
          </div>
          <div class="topic-div">
            <p>Category: <%= category %></p>
          </div>
          <div class="score">
            <p>Your score is : <%= score %></p>
          </div>
          <div>
            <p style="text-align: center">Score breakdown:</p>
            <br />
            <div class="main-score-wrapper">
              <div class="sub-score-wrapper">
                <div>No.</div>
                <div>Question</div>
                <div>Chosen Option</div>
                <div>Correct Option</div>
                <div>Result</div>
              </div>
              <% for(i=0; i< 10; i++){ %> <% if ( data[i] === 1 ) { %>
              <div class="sub-score-wrapper" style="background-color: #95cd41">
                <div>Q.<%= i+1 %></div>
                <div><%= questions[i] %></div>
                <div><%= chosenOption[i] %></div>
                <div><%= correctOption[i] %></div>
                <div>Correct</div>
              </div>
              <% } else { %>
              <div class="sub-score-wrapper" style="background-color: #ff5d5d">
                <div>Q.<%= i+1 %></div>
                <div><%= questions[i] %></div>
                <div><%= chosenOption[i] %></div>
                <div><%= correctOption[i] %></div>
                <div>Incorrect</div>
              </div>
              <% } %> <% } %>
            </div>
          </div>
          <div class="btn-wrapper">
            <button class="btn-input" type="submit">RETURN TO DASHBOARD</button>
          </div>
        </form>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
