<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scoreboard</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="logo"></div>
      <div class="title">QUIZZTER</div>
      <ul class="nav-list"></ul>
    </nav>
    <div class="wrapper">
      <form action="/scoreboard" method="post">
        <div class="topic-div">
          <h3>Category: <%= category %></h3>
        </div>
        <div class="score">
          <p>Well done <%= user.name %>!</p>
          <p>Your final score is : <%= score %></p>
        </div>
        <div>
          <p>Score breakdown:</p>
          <table>
            <tr>
              <th>Question</th>
              <th>Result</th>
              <th>Points</th>
            </tr>
            <% for(i=0; i< 10; i++){ %>
            <tr>
              <td>Q.<%= i+1 %></td>
              <% if ( data[i] === 1 ) { %>
              <td>Correct</td>
              <% } else { %>
              <td>Incorrect</td>
              <% } %>
              <td><%= data[i] %></td>
            </tr>
            <% } %>
          </table>
        </div>
        <br /><br />
        <button class="btn-input" type="submit">RETURN TO DASHBOARD</button>
      </form>
    </div>
  </body>
</html>
